<div class="row button-action">
    <div class="form-group col-lg-3 col-lg-offset-6 col-md-4 col-md-offset-3">
        <div class="input-group">
            <input type="text" [(ngModel)]="rules" class="form-control" placeholder="Buscar...">
            <span class="input-group-btn">
        <button class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true" style="color:#810d43"></i></button>
      </span>
        </div>
    </div>
    <div class="col-md-5 col-lg-3">
        <button type="button" class="btn button-dashboard" [routerLink]="['/newproduct']">Agregar Producto</button>
    </div>
</div>
<div class="row display-flex">
    <div class="col-xl-2 col-lg-2 col-md-3" *ngFor="let item of items| async | filter:rules" >
        <div class="card card-columns" [routerLink]="['/productdetails',item.$key]">
            <div class="header sizetop">
                <h4 class="title">{{item.name}}</h4>
                <p class="category">Bs. {{item.price}}</p>
            </div>
            <div class="content">
                <img class="img-responsive img-pro" src={{item.image}}>
            </div>
        </div>
    </div>
</div>