<div class="container-fluid relative">
  <app-button-nav></app-button-nav>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="header">
          <h3 class="title">Crear Pedido</h3>
        </div>
        <div class="content">
          <form>
            <div class="row" style="margin: 10px; margin-bottom: 10px;">
              <div class="col-md-6 col-md-offset-2">
                <div class="form-group">
                  <input type="number" class="form-control" name="idSearch" [(ngModel)]="idSearch" placeholder="Cedula">
                </div>
              </div>
              <div class="col-md-2 ">
                <div class="form-group">
                  <button type="submit" (click)="getUserData()" class="btn btn-info btn-fill pull-right">Buscar</button>
                </div>
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12">
              <div class="card">
                <div class="header">
                  <h4 class="title">Datos Factura Fiscal</h4>
                </div>
                <div class="content">
                  <form #form="ngForm" (ngSubmit)="addProducts()">
                    <div class="row">
                      <div class="col-md-4">
                        <input type="radio" class="radioB" name="orderType" [value]="true" [(ngModel)]="orderType">
                        <Label class="text-black"> Acumular Puntos</Label>
                      </div>
                      <div class="col-md-4">
                        <input type="radio" class="radioB" name="orderType" [value]="false" [(ngModel)]="orderType">
                        <Label class="text-black"> Canjear Puntos</Label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Nombre</label>
                          <input type="text" class="form-control" placeholder="Nombre" name="userName" [(ngModel)]="userName" value="" required>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Apellido</label>
                          <input type="text" class="form-control" placeholder="Last Name" [(ngModel)]="userLastname" name="userLastname" value="" required>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-5">
                        <div class="form-group">
                          <label>Cedula/RIF</label>
                          <input type="text" class="form-control" placeholder="Cedula" [(ngModel)]="userId" name="userId" value="">
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label>Dirección</label>
                          <input type="text" class="form-control" placeholder="Dirección" [(ngModel)]="userAddress" name="userAddress" value="">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Telefono</label>
                          <input type="text" class="form-control" name="userPhone" [(ngModel)]="userPhone" placeholder="Telefono">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="row">
                        <div class="col-md-3">
                          <input type="radio" class="radioB" name="isPromoCode" [value]="true" [(ngModel)]="isPromoCode" checked>
                          <Label class="text-black">Código Cupón</Label>
                        </div>
                        <div class="col-md-3">
                          <input type="radio" class="radioB" name="isPromoCode" [value]="false" [(ngModel)]="isPromoCode">
                          <Label class="text-black">Promoción</Label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3" *ngIf="isPromoCode">
                        <label>Codigo Cupon:</label>
                        <input type="text" class="form-control" placeholder="Codigo" [(ngModel)]="couponCode" name="couponCode" value="">
                      </div>
                      <div class="col-md-3" *ngIf="!isPromoCode">
                        <label>Promoción:</label>
                        <select [(ngModel)]="promotionSelected" name="promotionSelected">
                            <option value="" disabled selected >Seleccionar</option>
                            <option *ngFor="let promotion of promotions"  [ngValue]="promotion">{{promotion}}</option>
                            </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4 col-md-offset-4">
                        <a (click)="applyCoupon()" class="btn btn-primary btn-color" style="width: 100%;">{{discountButton}}</a>
                      </div>
                      <div class="col-md-4">
                        <button type="submit" [disabled]="!form.valid || !gotData" class="btn btn-info btn-fill" style="width: 100%;">Agregar Productos</button>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </form>
                  <div *ngIf="gotData && productCount>0">
                    <div class="card card-plain">
                      <div class="header">
                        <h4 class="title">Productos Agregados:</h4>
                      </div>
                      <div class="content table-responsive table-full-width">
                        <table class="table table-hover">
                          <thead>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th></th>
                          </thead>
                          <tbody>
                            <tr *ngFor="let product of productList; let i=index" [attr.data-index]="i">
                              <td>{{product.name}}</td>
                              <td>Bs. {{product.price}}</td>
                              <td>{{product.quantity}}</td>
                              <td><i class="fa fa-pencil" aria-hidden="true" style="color:#810d43;" (click)=modifyOrderElement(product,i)></i>&emsp;
                                <i class="fa fa-trash" style="color:red;" aria-hidden="true" (click)=deleteOrderElement(product,i)></i></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-4">
                        <h4 class="title text-danger">Total Puntos: {{pointsCount}}</h4>
                      </div>
                      <div class="col-md-5">
                        <h4 class="title">Total Bs: {{orderTotal}}</h4>
                      </div>
                      <div class="col-md-3">
                        <button (click)="confirm()" class="btn btn-info btn-fill pull-right">Confirmar Compra</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
