<div class="container-fluid">
    <app-button-nav></app-button-nav>
    <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-3" *ngFor="let producto of productos">
            <div class="card">
                <div class="header">
                    <h4 class="title">{{producto}}</h4>
                    <p class="category">Bs. XXXX</p>
                </div>
                <div class="content">
                    <img class="img-producto" src="assets/img/productodefault.png " class="img-responsive ">
                </div>
            </div>
        </div>
    </div>
</div>