<div class="container-fluid">
    <app-button-nav></app-button-nav>
    <div class="row display-flex">
        <div class="col-xl-2 col-lg-3 col-md-3" *ngFor="let item of items | async">
            <div class="card">
                <div class="header">
                    <h4 class="title">{{item.name}}</h4>
                    <p class="category">BsF. {{item.price}}</p>
                </div>
                <div class="content">
                    <img class="img-responsive img-pro" src={{item.image}}>
                </div>
            </div>
        </div>
    </div>
</div>