<div class="col-md-6 col-md-offset-3 topSpace">
    <div class="card" *ngFor="let ingredient of ingredients | async">
      <div class="verticalcenter col-md-12">
        <div class="header">
          <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" [(ngModel)]="name" name="name" placeholder="Nombre" value="Producto 1">
          </div>
          <div class="form-group">
            <label>Precio</label>
            <input type="number" class="form-control" [(ngModel)]="price" name="price" placeholder="Precio" value="2500">
          </div>
        </div>
      </div>
    <div class="row">
      <div class="">
        <button type="submit" class="btn btn-info btn-fill pull-right " (click)="saveIngredient(ingredient,ingredient.$key)">Guardar Cambios</button>
      </div>
      <div class="">
          <button type="submit" class="btn btn-info btn-fill  bg-warning pull-right" (click)="deleteIngredient(ingredient,ingredient.$key)">Eliminar Ingrediente</button>
        </div>
    </div>
  </div>
</div>
