<div class="col-md-12 col-lg-10 col-sm-10 col-lg-offset-1 topSpace">
  <div class="card">
    <form #form="ngForm" class="content">
      <div class="row">
        <div class="col-md-3">
          <h6 class="category"> Tipo de Promoción:</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 col-md-offset-1">
          <input type="radio" class="radioB" name="promoType" [value]="'image'" [(ngModel)]="promoType">
          <Label class="text-black block">Publicación de Imagen</Label>
        </div>
        <div class="col-md-2">
          <input type="radio" class="radioB" name="promoType" [value]="'message'" [(ngModel)]="promoType">
          <Label class="text-black block">Publicación de Texto</Label>
        </div>
        <div class="col-md-2">
          <input type="radio" class="radioB" name="promoType" [value]="'promo'" [(ngModel)]="promoType">
          <Label class="text-black block">Publicación de Promoción</Label>
        </div>
        <div class="col-md-2">
          <input type="radio" class="radioB" name="promoType" [value]="'coupon'" [(ngModel)]="promoType">
          <Label class="text-black block">Publicación de Cupón</Label>
        </div>
        <div class="col-md-2">
          <input type="radio" class="radioB" name="promoType" [value]="'product'" [(ngModel)]="promoType">
          <Label class="text-black block">Publicación de Producto</Label>
        </div>
      </div>
      <div *ngIf="promoType=='message'">
        <div class="row">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Titulo</label>
                <input type="text" class="form-control" placeholder="Titulo" name="messageTitle" [(ngModel)]="messageTitle" value="" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Mensaje</label>
                <input type="text" class="form-control" placeholder="Descripción" [(ngModel)]="messageDescription" name="messageDescription"
                  value="" required>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="promoType=='product'">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Elegir Producto</label>
              <select [(ngModel)]="selectedProduct" name="selectedProduct">
                <option ngValue="" disabled selected>Seleccionar</option>
                <option *ngFor="let product of products | async" [ngValue]="product.name">{{product.name}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="promoType=='promo'">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Elegir Promocion</label>
              <select [(ngModel)]="selectedPromotion" name="selectedProduct">
                <option [ngValue]="" disabled selected>Seleccionar</option>
                <option *ngFor="let promo of promotions | async" [ngValue]="promo.name">{{promo.name}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="promoType=='coupon'">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Elegir Cupón de Descuento</label>
              <select [(ngModel)]="selectedCoupon" name="selectedProduct">
                <option [ngValue]="" disabled selected>Seleccionar</option>
                <option *ngFor="let promo of coupons | async" [ngValue]="promo.code">{{promo.code}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="promoType=='image'">
        <div class="row">
          <div class="col-md-3 inner-card">
            <img class="img-producto" src={{image}} class="img-responsive ">
          </div>
          <div class="row">
            <div class="buttonselect">
              <input type="file" accept="image/*" (change)="handleFileSelect($event)" class="btn btn-primary btn-color" text="Seleccionar Imagen">
            </div>
          </div>
          <div class="col-md-9">
            <div class="form-group">
              <label>Mensaje</label>
              <input type="text" class="form-control" placeholder="Mensaje" [(ngModel)]="messageImagePost" name="messageImagePost" value=""
                required>
            </div>
          </div>
        </div>
      </div>
      <div class="row footer">
        <div class="col-md-3 col-md-offset-5">
          <button type="submit" class="btn btn-info btn-fill pull-right" (click)="revertChanges()" style="width: 100%;">Cancelar</button>
        </div>
        <div class="col-md-4">
          <button type="submit" class="btn btn-info btn-fill pull-right" [disabled]="!form.valid" (click)="savePost()" style="width: 100%;">Agregar Publicación</button>
        </div>
      </div>
    </form>
  </div>
</div>
