<div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">
    <div class="sidebar-wrapper">
        <div class="logo">
            <img src="assets/img/froppings.png" class="img-responsive">
        </div>

        <ul class="nav">
            <li class="active">
                <a [routerLink]="['/home/dashboard']">
                    <i class="pe-7s-graph"></i>
                    <p>Home</p>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="pe-7s-user"></i>
                    <p>Productos</p>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="pe-7s-user"></i>
                    <p>Recetas</p>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="pe-7s-user"></i>
                    <p>Ingredientes</p>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="pe-7s-note2"></i>
                    <p>Puntos</p>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="pe-7s-news-paper"></i>
                    <p>Pedidos</p>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="pe-7s-science"></i>
                    <p>Compras</p>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="pe-7s-science"></i>
                    <p>Reportes</p>
                </a>
            </li>
            <li class="active-pro">
                <a href="">
                    <i class="pe-7s-rocket"></i>
                    <p>Cerrar sesión</p>
                </a>
            </li>
        </ul>
    </div>
</div>