<div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">
    <div class="sidebar-wrapper">
        <div class="logo">
            <img src="assets/img/froppings.png" class="img-responsive">
        </div>

        <ul class="nav">
            <li routerLinkActive="active">
                <a [routerLink]="['/dashboard']">
                    <i class="pe-7s-graph"></i>
                    <p>Home</p>
                </a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['/products']">
                    <i class="pe-7s-ticket"></i>
                    <p>Productos</p>
                </a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['/recipe']">
                    <i class="pe-7s-box1"></i>
                    <p>Recetas</p>
                </a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['/ingredients']">
                    <i class="pe-7s-albums"></i>
                    <p>Ingredientes</p>
                </a>
            </li>
            <li routerLinkActive="active">
                <a href="">
                    <i class="pe-7s-box2"></i>
                    <p>Compras</p>
                </a>
            </li>
            <li routerLinkActive="active">
                <a href="">
                    <i class="pe-7s-display1"></i>
                    <p>Reportes</p>
                </a>
            </li>
            <li class="active-pro">
                <a href="">
                    <i class="pe-7s-rocket"></i>
                    <p>Cerrar sesión</p>
                </a>
            </li>
        </ul>
    </div>
</div>