<div class="row button-action">
    <div class="form-group col-md-3 col-md-offset-6">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar...">
            <span class="input-group-btn">
        <button class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true" style="color:#810d43"></i></button>
      </span>
        </div>
    </div>
    <div class="col-md-3">
        <button type="button" class="btn button-dashboard">Agregar Ingrediente</button>
    </div>
</div>
<div class="row">
    <div class="col-xl-2 col-lg-2 col-md-3" *ngFor="let ingrediente of ingredientes">
        <div class="card">
            <div class="header">
                <h4 class="title">{{ingrediente}}</h4>
                <p class="category">Bs. XXXX</p>
            </div>
            <div class="content">
            </div>
        </div>
    </div>
</div>