<div class="fixed-panel row">
    <div class="col-md-4 col-md-offset-4">
        <img src="assets/img/froppings.png" class="img-responsive">
        <div class="login-section col-md-8 col-md-offset-2">
            <form class="form" #form="ngForm" (ngSubmit)="onSubmit(form)">
                <input type="email" class="form-control" ngModel name="email" placeholder="Correo Electrónico">
                <input type="password" class="form-control" ngModel name="password" placeholder="Contraseña">
                <button type="submit" class="btn btn-info btn-fill">Ingresar</button>
            </form>
        </div>
    </div>
</div>